<nav>
  <div class='back-btn'>
  <%= link_to('<', groups_path) %>
  </div>
  <h1>Transactions</h1>
  <%= render 'devise/shared/navbar' %>
</nav>
<div class="group-new">
  <%= form_with model: @entity, url: transaction_path do |form| %>
    <div class="field">
      <%= form.text_field :name, placeholder: 'Name', required: true %>
    </div>
    <div class="field">
      <%= form.number_field :amount, placeholder: 'Amount', class: "texto" %>
    </div>
    <div>
      <%= form.hidden_field :user_id, required: true, value: current_user.id %>
    </div>
    <div class="field">
      <%= form.select :group_id, @groups.collect { |category| [category.name, category.id] }, {selected: params['id']}, class: "form-select texto"%>
    </div>
    <div class="actions a-link">
      <%= form.submit 'Create transaction', class: 'new-grp' %>  
    </div>
  <% end %>
</div>