<nav>
  <div class='back-btn'>
  <%= button_to('<', destroy_user_session_path, method: "delete", remote: true) %>
  </div>
  <h1>Budget</h1>
  <%= render 'devise/shared/navbar' %>
</nav>
<div class="group-wrapper">
  <% if @groups.empty? %>
    <p class="no-trans">You have no categories yet</p>
  <% else %>
    <% @groups.each do |group|%>
      <%= link_to(group_path(group)) do %>
        <ul class="group-container">
          <li>
              <img class='img' src="<%= group.icon %>" alt="icon">
              <h3><%= group.name %></h3>
              <%= group.created_at.to_date.to_s %>
              <h4 class="group-amount">
              <%= "$#{Entity.total_amount(group.entities)}" %>
              </h4>
          </li>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="a-link">
    <%= link_to(new_group_path, class: 'new-grp') do %>
      <button type="button">New Category</button>
    <% end %>
  </div>